.calendarBody {
    height: 80%;
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

.date {
    height: 20%;
    width: 14.285714285714285714285714285714%;
    border: solid 1px;
    border-color: #DCDCDC;
    text-align: center;
    padding: 0;
    margin: 0;
}

.date>div {
    height: 100%;
}

.today {
    background-color: rgb(253, 241, 219);
}

.selected {
    outline: 1px solid orange;
}

.dateDate {
    height: 20%;
    vertical-align: top;
}

.dateTR {
    height: 50%;
}

.timeRecord {
    height: 30%;
    background-color: rgb(255, 72, 72);
    color: white;
    border-radius: 5px;
    margin: 0.2em;
    font-size: 0.7em;
}

.timeRecord.plus {
    color: black;
    background-color: skyblue;
}

.dateDR {
    vertical-align: bottom;
    height: 30%;
}

.dateDR div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}
