.calendarBody {
    height: 80%;
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

.date {
    border: solid 1px;
    border-color: #DCDCDC;
    text-align: center;
    vertical-align: top;
    height: 20%;
    width: calc(100% / 7);
    padding: 0;
    margin: 0;
}

.today {
    background-color: rgb(253, 241, 219);
}

.selected {
    outline: 1px solid orange;
}

.timeRecord {
    height: 20%;
    background-color: rgb(255, 72, 72);
    color: white;
    border-radius: 5px;
    margin: 0.2em;
    font-size: 0.7em;
}

.timeRecord.plus {
    color: black;
    background-color: skyblue;
}
