.header {
    height: 12%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.header div {
    width: 100%;
    text-align: center;
}

.headerYear {
    font-size: 1.2em;
}

.headerTotal {
    font-size: 1.5em;
}

.headerButtons {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;

}

.header button {
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    background: none;
    padding: 10px;
}

.header button:hover {
    border: 1px solid orange;
}
