/* RPMRecord */

/* rpmRecordContainer */
.rpmRecordContainer input.box {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
}

.rpmRecordContainer input.bar {
    margin: 0.5em 0 1.5em;
}

.investmentButtonBox {
    display: flex;
    width: 100%;
    margin: 0.5em 0;
}

.investmentButtonBox button {
    width: 50%;
}

.rpmText {
    font-size: 1.2em;
    margin: 0.8em 0;
}
